/* General */

body { font-size: 62.5%; background: #2A2D34;}
h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; }
a { color:#1DD2E2; text-decoration: none; font-weight: ; }
a:hover {text-decoration: underline;}

/* Accordion */

.accordion { background-color: #30C5FF; max-width: 500px; margin: 50px auto; font-family: 'Lucida Sans' arial, sans-serif; }
.accordion-toggle { cursor: pointer; text-align: center; padding: 10px; font-size: 2.5em; border-bottom: 1px solid rgba(100,100,100,0.7); -webkit-transition: background-color 0.5s, ease; -moz-transition: background-color 0.5s, ease; -o-transition: background-color 0.5s, ease; -ms-transition: background-color 0.5s, ease; transition: background-color 0.5s, ease; }

/* Toggle Effect */
.accordion-description { padding: 0 20px; font-size: 2em; background-color: #444; max-height: 0; overflow: hidden; transition: all 0.1s ease; opacity: 0; }
.accordion-description.open { padding: 20px; max-height: 400px; opacity: 1; overflow-y: scroll; }